body {
	background: #772953; /* Old browsers */
	background: -moz-linear-gradient(45deg, #772953 29%, #e95420 74%, #e95420 74%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #772953 29%, #e95420 74%, #e95420 74%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #772953 29%, #e95420 74%, #e95420 74%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#772953', endColorstr='#e95420', GradientType=1);
	margin: 0;
}
.taskBar {
	background-color: rgb(94, 39, 80);
	overflow: hidden;
	width: 100%;
	position: relative;
	z-index: 2;
}
.container {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

#Activities1 {
}
#Windows2 {
}
#Time3 {
}
#Battery4 {
}

.mainSideNav {
	background-color: rgba(51, 51, 51, 0.2);
	float: left;
	height: 100%;
	width: 120px;
	position: fixed;
	top: 0;
	left: 0;
}
.mainSideNav ul {
	padding: 8px 0 0 0;
	list-style: none;
	text-align: center;
	display: block;
}
.spanBlock {
	text-align: center;
	color: white;
	display: block;
	border: thin silver solid;
	float: bottom;
}
.mainSideNav ul li:hover {
	background: #ddd;
	color: #000;
}
.icon {
	height: 50px;
	width: 50px;
}
